<div *ngIf="registroPaciente=='eleccion'" class="w-100 d-flex justify-content-center"
    style="background-image: url('https://media.giphy.com/media/ij1WvlilscRFoIRn7u/giphy.gif'); background-size: cover; background-position: center; height: 90vh;">

    <div class=" ">

        <div class="container mt-5  p-5 bg-warning rounded-3 bg-opacity-50">

            <div class="button-container ">
                <div class="text-center">
                    <h2>REGISTRO</h2>
                    <h4 class="text-success">Seleccione que desea registrar</h4>
                </div>
                <div class="d-flex flex-column justify-content-center aling-content-center align-items-center gap-3">
                    <div (click)="cambiarRegistro('paciente')" class="circle-card bg-info bg-opacity-50">
                      <div class="circle-image-container">
                        <img src="../../../assets/pacienTeam.jpg" class="circle-image" alt="Foto paciente">
                        <div class="hover-text bg-info w-100 text-center"> 
                            <h1>
                                Paciente
                            </h1>
                        </div>
                      </div>
                    </div>
                    <div (click)="cambiarRegistro('especialista')" class="circle-card bg-info bg-opacity-50">
                      <div class="circle-image-container">
                        <img src="../../../assets/espTeam.jpg" class="circle-image" alt="Foto especialista">
                        <div class="hover-text bg-success w-100 text-center"> 
                            <h1>
                                Especialista
                            </h1>
                        </div>
                      </div>
                    </div>
                </div>
                  
            </div>


            <div *ngIf="loading" class="d-flex justify-content-center mt-2">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="registroPaciente!='eleccion'"
    class="position-fixed top-2 start-50 bg-dark bg-opacity-50  translate-middle-x p-2">
    <button class="btn btn-primary" (click)="cambiarRegistro('paciente')">Paciente</button>
    <button class="btn btn-success" (click)="cambiarRegistro('especialista')">Especialista</button>
</div>




<app-especialista-registro *ngIf="registroPaciente=='especialista'"></app-especialista-registro>
<app-paciente-registro *ngIf="registroPaciente=='paciente'"></app-paciente-registro>